@use "/src/styles/utils";

.header {

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-bottom: 85px;
  }

  &__name {
    @extend %h2;
  }

  &__button-basket {
    width: 30px;
    height: 30px;
    border: none;
    background: url("/images/icon/icon-basket.svg") center / 100% no-repeat;
  }
}
