@use "/src/styles/utils";

.product {
  display: flex;
  justify-content: space-between;

  &__description {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__about {
    display: block;

    align-self: flex-end;

    @extend %subtitle-5;

    text-decoration: none;
    color: $c-turquoise;

    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  &__info {
    width: 85%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %title;
    color: $c-turquoise;
    letter-spacing: 0.15em;
  }

  &__transparent-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $c-turquoise;
  }

  &__cost {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    margin-bottom: 50px;
  }

  &__price {
    position: relative;

    padding-left: 20px;

    @extend %subtitle-2;
    font-weight: bold;

    &::before {
      position: absolute;
      content: "$";
      top: 3px;
      left: 0;
    }
  }

  &__discount {
    @extend %subtitle-4;
  }

  &__button {
    align-self: center;
    padding: 15px 60px;
    position: relative;
  }
}
