@use "/src/styles/utils";

.nav {
  max-width: 470px;
  width: 470px;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {

    &--button {
      @media (min-width: 900px) {
        display: none;
      }
    }
  }

  &__link {
    @extend %subtitle-3;
    text-decoration: none;
    color: $c-main-text;
  }
}
